<!--
 * @Author: 小熊 627516430@qq.com
 * @Date: 2023-09-30 13:25:17
 * @LastEditors: 小熊 627516430@qq.com
 * @LastEditTime: 2023-09-30 13:28:08
 * @FilePath: /xoj-backend/views/index.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>主页</title>
</head>
<body>
    <h2>(●￣(ｴ)￣●) 小熊 欢迎您的到来！</h2>
</body>
</html>